

<h1>Candies</h1>

<table>
  <thead>
    <tr>
      <th> Candy ID </th>
      <th> Candy Name </th>
      <th> Shelved </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candies.each do |candy| %>
      <tr>
        <td><%= candy.id %></td>
        <td><%= candy.name %></td>
        <td>
          <% if candy.shelf_ids == [] %>
            No
          <% else %>
            Yes
          <% end %>
        </td>
        <td><%= link_to 'Show', candy %></td>
        <td><%= link_to 'Edit', candy %></td>
        <td><%= link_to 'Destroy', candy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candy', new_candy_path(:shop_id => shop.id) %>
